.spin-selector-container {
  width: 250px;
  background: #222;
  padding: 20px;
  box-sizing: content-box;

  &::after {
    content: " ";
    clear: both;
  }
  .selector-container {
    display: flex;
  }

  .selector {
    margin-right: 20px;
    flex: 1 1 80px;
    color: #efefef;
    text-align: center;

    .label {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .spin-up, .spin-down {
      position: relative;
      height: 30px;
      line-height: 30px;
      cursor: pointer;

      &:hover {
        background: #333;
      }
    }

    .spin-up {
      border-bottom: solid 1px #777;

      &::after {
        border-color: transparent transparent #aaa transparent;
        border-style: solid;
        border-width: 6px;
        content: ' ';
        left: 50%;
        margin-left: -6px;
        margin-top: -6px;
        position: absolute;
        top: 50%;
      }
    }

    .spin-down {
      border-top: solid 1px #777;

      &::after {
        border-color: #aaa transparent transparent transparent;
        border-style: solid;
        border-width: 6px;
        content: ' ';
        left: 50%;
        margin-left: -6px;
        margin-top: -6px;
        position: absolute;
        top: 50%;
      }
    }

    .value-container {
      width: 100%;
      position: relative;
      min-height: 70px;
      overflow: hidden;

      .value-scroller {
        width: 100%;
        position: absolute;
        transition: top 0.3s ease-in-out;
      }
    }

    .spin-value {
      height: 60px;
      width: 100%;
      line-height: 60px;
      font-size: 24px;
      background: #333;
      margin: 5px 0;

      &:focus {
        outline: 0;
        border: 0;
        background: #efefef;
        color: #333;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .buttons-container {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .button {
    display: block;
    background: #333;
    color: #efefef;
    width: 100%;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}